[Unit]
Description=Run MidiEmBackend

Wants=default.target
After=default.target

[Service]
Type=simple
ExecStart=/usr/bin/MidiEmBackend /etc/MidiConfigs
Restart=on-failure
RestartSec=3s

[Install]
WantedBy=default.target