# Before using the service file, this file has to be added:
# /etc/udev/rules.d/60-push2.rules
#    SUBSYSTEM=="usb", ATTR{idProduct}=="1967", ATTR{idVendor}=="2982", MODE="0666", SYMLINK+="push2", TAG+="systemd"
# reload udev rules: udevadm control --reload-rules && udevadm trigger

[Unit]
Description=Run MidiEmFrontend
BindsTo=dev-push2.device
After=dev-push2.device

Wants=default.target
After=default.target

# Units which are started more than burst times within an interval
# time span are not permitted to start any more
StartLimitIntervalSec=60
StartLimitBurst=5

[Service]
Type=simple
Environment="DISPLAY=:1"
ExecStart=/usr/bin/MidiEmFrontend
Restart=on-failure
RestartSec=3s

[Install]
WantedBy=dev-push2.device
WantedBy=default.target
