[Unit]
Description=Run NomidiBackend

Wants=multi-user.target
After=multi-user.target

[Service]
Type=simple
ExecStartPre=+/bin/chown -R nomidiuser:nomidiuser /home/nomidiuser/nomidi
ExecStartPre=+/bin/mkdir -p /tmp/nomidi
ExecStartPre=+/bin/chown -R nomidiuser:nomidiuser /tmp/nomidi
ExecStart=/usr/bin/NomidiBackend /etc/nomidi-backend
User=nomidiuser
StandardOutput=journal
StandardError=journal
Restart=on-failure
RestartSec=3s
LimitRTPRIO=50

[Install]
WantedBy=multi-user.target